IBM Certification Project Capston

In [1]:
import pandas as pd
import numpy  as np
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [2]:
from bs4 import BeautifulSoup as bs
import urllib.request

source = urllib.request.urlopen('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').read()

# Create a BeautifulSoup object
soup = bs(source)
#wikitable sortable jquery-tablesorter

tab  = soup.find_all('table')#class_='wikitable sortable jquery-tablesorter')
df = pd.read_html(str(tab))[0]
df[(df['Neighbourhood'] == 'Not assigned') &(df['Borough'] != 'Not assigned')]
df.shape

(180, 3)

In [4]:
df_lat_long = pd.read_csv('/content/data/Geospatial_Coordinates.csv')
df_lat_long

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]